body{

    font-family: "poppins",sans-serif ;
}

.main{
    border: 2px solid black;
    width: 100%;
    height: 1200px;
    background-image: url("assets/download\ \(11\).jpeg");
    background: fixed;
}
.main h1{
    
    font-size: 50px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 3px 4px black;
    border-bottom:  2px solid black ;

}